@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #CAF0F8;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-style: "Noto Sans", sans-serif;
}

#banner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #061D3B;
  transition: all 0.3s ease;
  z-index: 0;
}
#banner #title {
  color: white;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  z-index: 9;
  font-size: 5rem;
  transition: all 0.5s ease;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#banner b#undertitle {
  font-size: 20px;
  font-style: "Noto Sans", sans-serif;
  display: flex;
  justify-content: center;
}

img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.icon {
  display: flex;
  height: 100px;
  width: 100%;
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

#axolotl-icon {
  height: 100px;
  width: 100px;
  position: relative;
}

#Wave1 {
  z-index: 8;
}

#Wave2 {
  z-index: 7;
}

#Wave3 {
  z-index: 6;
}

#Wave4 {
  z-index: 5;
}

#Wave5 {
  z-index: 4;
}

#Wave6 {
  z-index: 3;
}

#Wave7 {
  z-index: 2;
}

#Wave8 {
  z-index: 1;
}

#Wave9 {
  z-index: 0;
}

header {
  position: fixed;
  width: 100%;
  z-index: 10;
  height: 2rem;
  background-color: transparent;
  transition: background-color 0.3s ease;
}
header #header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 2;
  height: 2rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}
header #header #stickyTitle {
  z-index: 9;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 0.1s ease;
  color: white;
  font-family: "Bungee", sans-serif;
}
header #header #nav {
  z-index: 9;
  display: flex;
  color: white;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}
header #header #nav ul {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-content: flex-end;
  list-style: none;
}
header #header #nav ul li {
  text-overflow: clip;
  padding-right: 0.5em;
  padding-left: 0.5em;
  font-family: "Noto Sans", sans-serif;
}
header #header #nav ul li a {
  color: white;
  text-decoration: none;
}
header #header #nav ul li a:hover {
  font-weight: bolder;
  transition: all 0.2s ease;
}
header #header .active {
  max-height: 50vh;
  background-color: rgba(255, 255, 255, 0.627) !important;
}
header #header .active a,
header #header .active select {
  color: #061d3b !important;
}

#nav-mini {
  width: 100%;
  display: none;
  position: absolute;
}
#nav-mini #nav-icon {
  display: none;
  width: 3vh;
  height: 3vh;
  background: url("../src/img/icons8-menu-500.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

#localisation-switcher {
  border: none;
  background-color: transparent;
  color: white;
  font-family: "Noto Sans", sans-serif;
  appearance: none;
  font-size: medium;
  outline: none;
}
#localisation-switcher:hover {
  font-weight: bolder;
}
#localisation-switcher option {
  background-color: #061D3B;
  padding: 1em;
  color: white;
  outline: none;
}
#localisation-switcher option:hover {
  background-color: rgba(255, 255, 255, 0.627);
}
#localisation-switcher:active {
  border: none;
  font-weight: bolder;
}

content {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.627);
}

.scroll-container {
  height: 100%;
  min-height: 450px;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}
.scroll-container #about_img {
  background-image: url("../src/img/axolotls_about.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.scroll-container #article_health {
  background-image: url("../src/img/article_health.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.scroll-container #article_tank {
  background-image: url("../src/img/article_tank.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.scroll-container #article_sick {
  background-image: url("../src/img/article_sick.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.scroll-container #article_biology {
  background-image: url("../src/img/article_biology.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.scroll-container:nth-child(even) {
  flex-direction: row-reverse;
}

.container {
  width: 100%;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 10em;
}
.container .title-center {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.container .title-center a {
  text-decoration: none;
  color: #061D3B;
}
.container .title-center a:hover {
  color: #0077B6;
}

.scroll-element,
.scroll-caption {
  width: 50%;
}

.scroll-element {
  min-height: 300px;
  height: 100%;
  background-color: #eaeaea;
}

.scroll-caption {
  margin: 1rem;
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}
.js-scroll.scrolled {
  opacity: 1;
}
.js-scroll.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}
.js-scroll.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}
.js-scroll.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}
.js-scroll.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40%;
  justify-content: center;
}
.row .col {
  display: flex;
  flex-direction: column;
  flex: 30%;
  justify-content: center;
}
.row .col .icon-service {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.row .col .icon-service img {
  display: flex;
  position: relative;
  width: 60px;
  height: 60px;
}
.row .col .title-service {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.row .col .desc-service {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.collapsible {
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  max-height: 10em;
  position: relative;
}
.collapsible p {
  margin: 0;
  padding: 2em;
}
.collapsible p:first-child {
  border-top: none;
}

.toggler {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #CAF0F8;
  text-align: center;
  cursor: pointer;
}
.toggler::after {
  content: "▼";
}

.collapsible.open .toggler::after {
  content: "▲";
}

.google-map {
  position: relative;
  padding-bottom: 20em;
  height: 0;
  width: 100%;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.form-contact {
  display: flex;
  flex-direction: column;
  margin: 1em 1em;
}
.form-contact form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.form-control {
  display: flex;
  position: relative;
  --width-of-input: 300px;
  margin: 1rem;
  justify-content: center;
}

.input {
  color: #061D3B;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: 1px solid grey;
}
.input:focus {
  outline: none;
}

.input-border {
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.input:focus + .input-border {
  width: 100%;
}

.input-alt {
  font-size: 1.2rem;
  padding-inline: 1em;
  padding-block: 0.8em;
}

.input-border-alt {
  height: 3px;
  background: linear-gradient(90deg, #03045E 0%, #0077B6 50%, #90E0EF 100%);
  transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

.input-alt:focus + .input-border-alt {
  width: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  border: 0;
  position: relative;
  overflow: hidden;
  border-radius: 10rem;
  transition: all 0.02s;
  font-weight: bold;
  color: #061D3B;
  z-index: 0;
  box-shadow: 0 0px 7px -5px #061D3B;
}
.button:hover {
  background: #eaeaea;
  color: #061D3B;
}
.button:active {
  transform: scale(0.97);
}

.hoverEffect {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.hoverEffect div {
  background: #03045E;
  background: linear-gradient(90deg, #03045E 0%, #0077B6 49%, #0077B6 100%);
  border-radius: 40rem;
  width: 10rem;
  height: 10rem;
  transition: 0.4s;
  filter: blur(20px);
  animation: effect infinite 3s linear;
  opacity: 0.5;
}

.button:hover .hoverEffect div {
  width: 20rem;
  height: 20rem;
}

@keyframes effect {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
footer {
  background-color: #48CAE4;
  color: white;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #nav {
    max-height: 0;
    float: none;
    position: absolute;
    overflow: hidden;
    top: 5vh;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 11;
    transition: max-height 0.3s ease-in-out;
  }
  #nav.active {
    background-color: rgba(255, 255, 255, 0.627);
    height: max-content;
  }
  header #header #nav ul {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: flex-end;
  }
  header #header #nav ul li {
    color: #061D3B !important;
    font-size: 2vh;
  }
  header #header #nav ul li select {
    font-size: 2vh;
  }
  #nav-mini {
    width: 100%;
    height: 5vh;
    justify-content: flex-end;
    margin-right: 0.5rem;
    display: flex;
    z-index: 11;
    align-items: flex-end;
  }
  #nav-mini #nav-icon {
    display: flex;
  }
  .scroll-container,
  .scroll-container:nth-of-type(odd),
  .row,
  .form-contact form {
    flex-direction: column;
    align-content: center;
  }
  .scroll-element {
    height: 100%;
  }
  .scroll-element,
  .scroll-caption,
  .col {
    width: 100%;
    flex: 100%;
  }
}

/*# sourceMappingURL=index.css.map */
